<p-panel>
    <ng-template pTemplate="header">
        <span class="w-full text-center font-bold">Edit Project Assignment</span>
    </ng-template>

    <p-toast></p-toast>

    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button
                    pButton
                    pRipple
                    icon="pi pi-arrow-left"
                    label="Back"
                    class="p-button mr-2"
                    [routerLink]="'/projects/assignments'"
                ></button>
            </div>
        </ng-template>
    </p-toolbar>

    <ng-template pTemplate="content">
        <div *ngIf="loading; else contentTemplate">
            <div class="progress-spinner">
                <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            </div>
        </div>
        <ng-template #contentTemplate>
            <div class="card">
                <h5>Project Assignments</h5>
                <p-panel header="Assignments" [toggleable]="true" [collapsed]="collapsedTree" class="line-height-3 m-0">
                    <div class="field col-6">
                        <label for="projectName" class="text-center font-bold mb-2">Project</label>
                        <div>{{ projectName }}</div>
                    </div>
                    <p-pickList 
                        [source]="sourceEngineers" 
                        [target]="targetEngineers" 
                        sourceHeader="Available" 
                        targetHeader="Selected" 
                        [dragdrop]="true" 
                        [responsive]="true" 
                        [sourceStyle]="{ height: '30rem' }"
                        [targetStyle]="{ height: '30rem' }" 
                        filterBy="engineerName" 
                        sourceFilterPlaceholder="Search by name" 
                        targetFilterPlaceholder="Search by name" 
                        breakpoint="1400px">
                        <ng-template let-engineer pTemplate="item">
                            <div class="flex flex-wrap align-items-center">
                                <div class="flex-1 flex flex-column gap-2">
                                    <span class="font-bold">Engineer</span>
                                    <div class="flex align-items-center gap-2">
                                        <i class="pi pi-check-circle text-sm"></i>
                                        <span>
                                            {{ engineer.engineerName }}
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-1 flex flex-column gap-2">
                                    <span class="font-bold">First Name</span>
                                    <div class="flex align-items-center gap-2">
                                        <i class="pi pi-check-circle text-sm"></i>
                                        <span>
                                            {{ engineer.firstName }}
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-1 flex flex-column gap-2">
                                    <span class="font-bold">Last Name</span>
                                    <div class="flex align-items-center gap-2">
                                        <i class="pi pi-check-circle text-sm"></i>
                                        <span>
                                            {{ engineer.lastName }}
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-1 flex flex-column gap-2">
                                    <span class="font-bold">Start Date</span>
                                    <div class="flex align-items-center gap-2">
                                        <span>
                                            <p-inputMask
                                                inputId="startDate"
                                                mask="9999/99/99"
                                                [(ngModel)]="engineer.startDate"
                                                (focus)="$event.stopPropagation()"
                                                [style]="{ 'width': '100px' }"
                                            ></p-inputMask>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-1 flex flex-column gap-2">
                                    <span class="font-bold">End Date</span>
                                    <div class="flex align-items-center gap-2">
                                        <span>
                                            <p-inputMask
                                                inputId="endDate"
                                                mask="9999/99/99"
                                                [(ngModel)]="engineer.endDate"
                                                (focus)="$event.stopPropagation()"
                                                [style]="{ 'width': '100px' }"
                                            ></p-inputMask>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-pickList>

                    <div class="mt-4">
                        <button pButton label="Save" class="p-button-success" (click)="saveProject()" [disabled]="projectId === 0"></button>
                    </div>
                </p-panel>
            </div>
        </ng-template>
    </ng-template>
</p-panel>

<p-confirmDialog></p-confirmDialog>
