<p-panel>
    <ng-template pTemplate="header">
      <span class="w-full text-center font-bold">Edit Sub Menu</span>
    </ng-template>

    <p-toast></p-toast>

    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button
                pButton
                pRipple
                icon="pi pi-arrow-left"
                label="Back"
                class="p-button mr-2"
                [routerLink]="'/menus/submenus'"
                ></button>
            </div>
        </ng-template>
    </p-toolbar>
  
    <ng-template pTemplate="content">
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit($event)">
            <div class="formgrid grid">
                <div class="field col">
                    <label for="menuId" class="text-center font-bold mb-2">Menu</label>
                    <p-dropdown
                        name="menuId"
                        optionValue="menuId"
                        [options]="menus"
                        [style]="{'min-width': '100%'}"
                        optionLabel="menuName"
                        formControlName="menuId"
                    >
                    </p-dropdown>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="subMenuName" class="text-center font-bold mb-2">Menu Name</label>
                    <input 
                        type="text" 
                        id="subMenuName" 
                        formControlName="subMenuName" 
                        class="w-full"
                        name="subMenuName"
                        pInputText />
                        <small id="subMenuName-help" class="p-error" *ngIf="(subMenuName.invalid && (subMenuName.dirty || subMenuName.touched)) || !subMenuName.value">
                            Sub Menu name field is required *
                        </small>
                </div>
                <div class="field col">
                    <label for="description" class="text-center font-bold mb-2">Description</label>
                    <input 
                        type="text" 
                        id="description" 
                        formControlName="description" 
                        class="w-full"
                        name="description"
                        pInputText />
                        <small id="description-help" class="p-error" *ngIf="(description.invalid && (description.dirty || description.touched)) || !description.value">
                            Description field is required *
                        </small>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="icon" class="text-center font-bold mb-2">Icon</label>
                    <input 
                        type="text" 
                        id="icon" 
                        formControlName="icon" 
                        class="w-full"
                        name="icon"
                        pInputText />
                        <small id="icon-help" class="p-error" *ngIf="(icon.invalid && (icon.dirty || icon.touched)) || !icon.value">
                            Icon field is required *
                        </small>
                </div>
                <div class="field col">
                    <label for="routerLink" class="text-center font-bold mb-2">Router Link</label>
                    <input 
                        type="text" 
                        id="routerLink" 
                        formControlName="routerLink" 
                        class="w-full"
                        name="routerLink"
                        pInputText />
                        <small id="routerLink-help" class="p-error" *ngIf="(routerLink.invalid && (routerLink.dirty || routerLink.touched)) || !routerLink.value">
                            Router Link field is required *
                        </small>
                </div>
            </div>
      
          <div class="mt-4">
            <button type="submit" pButton label="Save" class="p-button-success"></button>
          </div>
        </form>
    </ng-template>
  </p-panel>
  
<p-confirmDialog></p-confirmDialog>
@if (loading) {
    <div class="progress-spinner">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
    </div>
}