    <div class="grid">
        <p-toast></p-toast>
        <div class="col-12 lg:col-6 xl:col-4">
            @if (kpis.overViewProjects) {
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">{{kpis.overViewProjects.Title}}</span>
                            <div class="text-900 font-medium text-xl">{{kpis.overViewProjects.Total}}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                            <i class="{{kpis.overViewProjects.Icon}} text-blue-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">{{kpis.overViewProjects.ImportantLeyend}} </span>
                    <span class="text-500">{{kpis.overViewProjects.Leyend}}</span>
                </div>
            }
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            @if (kpis.oncomingProjects) {
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">{{kpis.oncomingProjects.Title}}</span>
                            <div class="text-900 font-medium text-xl">{{kpis.oncomingProjects.Total}}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                            <i class="{{kpis.oncomingProjects.Icon}} text-orange-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">{{kpis.oncomingProjects.ImportantLeyend}} </span>
                    <span class="text-500">{{kpis.oncomingProjects.Leyend}}</span>
                </div>
            }
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            @if (kpis.pendingResourcesProjects) {
                <div class="card mb-0">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <span class="block text-500 font-medium mb-3">{{kpis.pendingResourcesProjects.Title}}</span>
                            <div class="text-900 font-medium text-xl">{{kpis.pendingResourcesProjects.Total}}</div>
                        </div>
                        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                            <i class="{{kpis.pendingResourcesProjects.Icon}} text-cyan-500 text-xl"></i>
                        </div>
                    </div>
                    <span class="text-green-500 font-medium">{{kpis.pendingResourcesProjects.ImportantLeyend}} </span>
                    <span class="text-500">{{kpis.pendingResourcesProjects.Leyend}}</span>
                </div>
            }
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Open Projects</h5>
                <p-table [value]="kpis.openProjects" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name">Project Name <p-sortIcon field="projectName"></p-sortIcon></th>
                            <th pSortableColumn="name">Client <p-sortIcon field="clientName"></p-sortIcon></th>
                            <th pSortableColumn="name">Created Date <p-sortIcon field="dateCreated"></p-sortIcon></th>
                            <th pSortableColumn="name">Start Date <p-sortIcon field="startDate"></p-sortIcon></th>
                            <th pSortableColumn="name">End Date <p-sortIcon field="endDate"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-project>
                        <tr>
                            <td style="width: 35%; min-width: 7rem;">{{project.ProjectName}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{project.ClientName}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{project.DateCreated | date: 'MM/dd/yyyy'}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{project.StartDate | date: 'MM/dd/yyyy'}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{project.EndDate | date: 'MM/dd/yyyy'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Pending Projects</h5>
                <p-table [value]="kpis.pendingProjects" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name">Project Name <p-sortIcon field="projectName"></p-sortIcon></th>
                            <th pSortableColumn="name">Client <p-sortIcon field="clientName"></p-sortIcon></th>
                            <th pSortableColumn="name">Created Date <p-sortIcon field="dateCreated"></p-sortIcon></th>
                            <th pSortableColumn="name">Start Date <p-sortIcon field="startDate"></p-sortIcon></th>
                            <th pSortableColumn="name">End Date <p-sortIcon field="endDate"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-project>
                        <tr>
                            <td style="width: 35%; min-width: 7rem;">{{project.ProjectName}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{project.ClientName}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{project.DateCreated | date: 'MM/dd/yyyy'}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{project.StartDate | date: 'MM/dd/yyyy'}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{project.EndDate | date: 'MM/dd/yyyy'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
</div>

