<p-panel>
    <ng-template pTemplate="header">
      <span class="w-full text-center font-bold">Send Invitation</span>
    </ng-template>

    <p-toast></p-toast>

    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button
                pButton
                pRipple
                icon="pi pi-arrow-left"
                label="Back"
                class="p-button mr-2"
                [routerLink]="'/config/invitations'"
                ></button>
            </div>
        </ng-template>
    </p-toolbar>
  
    <ng-template pTemplate="content">
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit($event)">
            <h5 for="projectName" class="text-left font-bold">Invitation Information</h5>
            <div class="formgrid grid">
                <div class="field col col-6">
                    <label for="roleName" class="text-center font-bold mb-2">Role</label>
                    <p-dropdown
                        name="roleId"
                        optionValue="id"
                        [options]="roles"
                        [style]="{'min-width': '100%'}"
                        optionLabel="name"
                        formControlName="roleId"
                        (onChange)="onRoleChange($event)"
                    >
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label for="email" class="text-center font-bold mb-2">Email</label>
                    <input 
                        type="text" 
                        id="email" 
                        formControlName="email" 
                        class="w-full"
                        name="email"
                        pInputText 
                        />
                        <small id="email-help" class="p-error" *ngIf="(email.invalid && (email.dirty || email.touched)) || !email.value">
                            <ng-container *ngIf="email.errors.required">
                                Email field is required *
                            </ng-container>
                            <ng-container *ngIf="email.errors.email && !email.errors.required">
                                Invalid email format *
                            </ng-container>
                        </small>
                </div>
            </div>
            <div class="formgrid grid mb-2">
                <div class="field col">
                    <label for="fullName" class="text-center font-bold mb-2">Name</label>
                    <input 
                        type="text" 
                        id="fullName" 
                        formControlName="fullName" 
                        class="w-full"
                        name="fullName"
                        pInputText />
                    <small id="fullName-help" class="p-error" *ngIf="(fullName.invalid && (fullName.dirty || fullName.touched)) || !fullName.value">
                        Name field is required *
                    </small>
                </div>
                <div class="field col">
                    <label for="domain" class="text-center font-bold mb-2">Domain</label>
                    <input 
                        type="text" 
                        id="domain" 
                        formControlName="domain" 
                        class="w-full"
                        name="domain"
                        pInputText
                        (blur)="existsDomain($event);" />
                        <small id="domain-help" class="p-error" *ngIf="(domain.invalid && (domain.dirty || domain.touched)) || !domain.value">
                            <ng-container *ngIf="domain.errors.required">
                                Domain field is required *
                            </ng-container>
                        </small>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field" style="margin-left: 15px">
                    <label for="isExternal" class="w-full font-bold mb-2">Is External</label>
                    <p-inputSwitch 
                        class="w-full"
                        id="isExternal" 
                        formControlName="isExternal" 
                        class="w-full"
                        name="isExternal"
                        ></p-inputSwitch>
                </div>
                @if (userRole.toUpperCase() == allowedRoles[0]) {
                    <div class="field">
                        <label for="isBlackList" class="w-full font-bold mb-2">Is Black List</label>
                        <p-inputSwitch 
                            class="w-full"
                            id="isBlackList" 
                            formControlName="isBlackList" 
                            class="w-full"
                            name="isBlackList"
                            ></p-inputSwitch>
                    </div>
                }
            </div>

            <!-- <pre>
                {{ dataForm.value | json }}
            </pre> -->

            <!-- @if(!thereDomain) {
                <h5 for="projectName" class="text-left font-bold">Company Information</h5>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="fullName" class="text-center font-bold mb-2">Full Name</label>
                        <input 
                            type="text" 
                            id="fullName" 
                            formControlName="fullName" 
                            class="w-full"
                            name="fullName"
                            pInputText />
                        <small id="fullName-help" class="p-error" *ngIf="(fullName.invalid && (fullName.dirty || fullName.touched)) || !fullName.value">
                            Full name field is required *
                        </small>
                    </div>
                    <div class="field col">
                        <label for="address" class="text-center font-bold mb-2">Address</label>
                        <input 
                            type="text" 
                            id="address" 
                            formControlName="address" 
                            class="w-full"
                            name="address"
                            pInputText />
                        <small id="address-help" class="p-error" *ngIf="(address.invalid && (address.dirty || address.touched)) || !address.value">
                            Address field is required *
                        </small>
                    </div>
                </div>
                
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="zipCode" class="text-center font-bold mb-2">Zip Code</label>
                        <input 
                            type="text" 
                            id="zipCode" 
                            formControlName="zipCode" 
                            class="w-full"
                            name="zipCode"
                            pInputText />
                        <small id="zipCode-help" class="p-error" *ngIf="(zipCode.invalid && (zipCode.dirty || zipCode.touched)) || !zipCode.value">
                            Zip Code field is required *
                        </small>
                    </div>
                    <div class="field col">
                        <label for="phone" class="text-center font-bold mb-2">Phone</label>
                        <input 
                            type="text" 
                            id="phone" 
                            formControlName="phone" 
                            class="w-full"
                            name="phone"
                            pInputText />
                        <small id="phone-help" class="p-error" *ngIf="(phone.invalid && (phone.dirty || phone.touched)) || !phone.value">
                            <ng-container *ngIf="phone.errors.required">
                                Phone field is required *
                            </ng-container>
                            <ng-container *ngIf="phone.errors.pattern && !phone.errors.required">
                                Invalid phone number format *
                            </ng-container>
                        </small>
                    </div>
                </div>
    
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="logo" class="text-center font-bold mb-2">Logo</label>               
                        <p-fileUpload
                            #fileUpload
                            name="logo"
                            id="file" 
                            (onSelect)="onUpload($event, fileUpload)"
                            [multiple]="false" 
                            accept="image/*" 
                            [maxFileSize]="1000000"
                            mode="basic">
                        </p-fileUpload>
                        <div class="flex justify-content-left" *ngIf="imageURL != null">
                            <p-image 
                                [src]="imageURL" 
                                alt="Image" 
                                width="250" 
                                [preview]="true">
                            </p-image>
                        </div>
                    </div>           
                </div>
            } -->

          <div class="mt-4">
            <button type="submit" pButton label="Send" class="p-button-success"></button>
          </div>
        </form>
    </ng-template>
  </p-panel>
  
<p-confirmDialog></p-confirmDialog>
@if (loading) {
    <div class="progress-spinner">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
    </div>
}