<p-panel>
    <ng-template pTemplate="header">
      <span class="w-full text-center font-bold">Add New Engineer</span>
    </ng-template>

    <p-toast></p-toast>

    <p-dialog [(visible)]="displayAddEmployerDialog" header="Create New Member" [modal]="true" [closable]="true" [style]="{width: '50vw'}">
        <app-employer-add 
            [isDialog]="true" 
            (onEmployerCreated)="handleEmployerCreated($event)" 
            (onClose)="closeEmployerDialog()"
            ></app-employer-add>
    </p-dialog>

    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button
                pButton
                pRipple
                icon="pi pi-arrow-left"
                label="Back"
                class="p-button mr-2"
                [routerLink]="'/engineers'"
                ></button>
            </div>
        </ng-template>
    </p-toolbar>
  
    <ng-template pTemplate="content">
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit($event)">
            <div class="formgrid grid">
                <div class="field col-6">
                    <label for="employerName" class="text-center font-bold mb-2">Member</label>
                    <p-dropdown
                        name="employerId"
                        optionValue="employerId"
                        optionLabel="employerName"
                        [options]="employers"
                        [style]="{'min-width': '100%'}"
                        [filter]="true"
                        [checkmark]="true"
                        [showClear]="true" 
                        formControlName="employerId"
                        filterBy="employerName"
                        placeholder="Choose a member"
                        (onChange)="onEmployerChange($event)"
                        >
                        <ng-template let-option pTemplate="item">
                            <li [ngClass]="{'p-element p-ripple p-button-success': option.employerName === 'Create one'}">
                                @if (option.employerName == 'Create one') {
                                    <ng-container *ngIf="option.employerName === 'Create one'">
                                        <button 
                                            pButton 
                                            pRipple 
                                            label="Create one" 
                                            icon="pi pi-plus" 
                                            class="p-button-success mr-2"
                                            (click)="onCreateEmployer($event)"
                                        ></button>
                                    </ng-container>
                                } @else {
                                    {{ option.employerName }}
                                }
                            </li>
                        </ng-template>

                        <ng-template pTemplate="empty">
                            <li class="p-element p-ripple p-button-success">
                                <button 
                                        pButton 
                                        pRipple 
                                        label="Create one" 
                                        icon="pi pi-plus" 
                                        class="p-button-success mr-2"
                                        (click)="onCreateEmployer($event)"
                                    ></button>
                            </li>
                        </ng-template>
                    </p-dropdown>
                    <div *ngIf="dataForm.get('employerId')?.touched && (dataForm.get('employerId')?.invalid || dataForm.get('employerId')?.value == 0)">
                        <small class="p-error">Member selection is required</small>
                    </div>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label for="firstName" class="text-center font-bold mb-2">First Name</label>
                    <input 
                        type="text" 
                        id="firstName" 
                        formControlName="firstName" 
                        class="w-full"
                        name="firstName"
                        pInputText />
                        <small id="firstName-help" class="p-error" *ngIf="(firstName.invalid && (firstName.dirty || firstName.touched)) || !firstName.value">
                            Address name field is required *
                        </small>
                </div>
                <div class="field col">
                    <label for="lastName" class="text-center font-bold mb-2">Last Name</label>
                    <input 
                        type="text" 
                        id="lastName" 
                        formControlName="lastName" 
                        class="w-full"
                        name="lastName"
                        pInputText />
                        <small id="lastName-help" class="p-error" *ngIf="(lastName.invalid && (lastName.dirty || lastName.touched)) || !lastName.value">
                            Last name field is required *
                        </small>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label for="phone" class="text-center font-bold mb-2">Phone</label>
                    <input 
                        type="text" 
                        id="phone" 
                        formControlName="phone" 
                        class="w-full"
                        name="phone"
                        pInputText />
                        <small id="phone-help" class="p-error" *ngIf="(phone.invalid && (phone.dirty || phone.touched)) || !phone.value">
                            <ng-container *ngIf="phone.errors.required">
                                Phone field is required *
                            </ng-container>
                            <ng-container *ngIf="phone.errors.pattern && !phone.errors.required">
                                Invalid phone number format *
                            </ng-container>
                        </small>
                </div>
                <div class="field col">
                    <label for="email" class="text-center font-bold mb-2">Email</label>
                    <input 
                        type="text" 
                        id="email" 
                        formControlName="email" 
                        class="w-full"
                        name="email"
                        pInputText />
                        <small id="email-help" class="p-error" *ngIf="(email.invalid && (email.dirty || email.touched)) || !email.value">
                            <ng-container *ngIf="email.errors.required">
                                Email field is required *
                            </ng-container>
                            <ng-container *ngIf="email.errors.email && !email.errors.required">
                                Invalid email format *
                            </ng-container>
                        </small>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label for="Image" class="text-center font-bold mb-2">Image</label>               
                    <p-fileUpload
                        #fileUpload
                        name="image"
                        id="file" 
                        (onSelect)="onUpload($event, fileUpload)"
                        [multiple]="false" 
                        accept="image/*" 
                        [maxFileSize]="1000000"
                        mode="basic"
                        >
                    </p-fileUpload>
                    @if (imageURL != null) {
                        <div class="flex justify-content-left">
                            <p-image 
                                [src]="imageURL" 
                                alt="Image" 
                                width="250" 
                                [preview]="true">
                            </p-image>
                        </div>
                    }
                </div>       
                <div class="field col">
                    <label for="isActive" class="w-full font-bold mb-2">Active</label>
                    <p-inputSwitch 
                        class="w-full"
                        id="isActive" 
                        formControlName="isActive" 
                        class="w-full"
                        name="isActive"
                        ></p-inputSwitch>
                </div>     
            </div>

            <app-skills
                [parentSkills]="engineerSkills"
                (onSkillsCreated)="handleSkillsCreated($event)"
            ></app-skills>
      
          <div class="mt-4">
            <button type="submit" pButton label="Save" class="p-button-success"></button>
          </div>
        </form>
    </ng-template>
  </p-panel>
  
<p-confirmDialog></p-confirmDialog>
@if (loading) {
    <div class="progress-spinner">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
    </div>
}