<p-panel>
    <ng-template pTemplate="header">
      <span class="w-full text-center font-bold">Edit Subcategory</span>
    </ng-template>

    <p-toast></p-toast>

    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button
                pButton
                pRipple
                icon="pi pi-arrow-left"
                label="Back"
                class="p-button mr-2"
                [routerLink]="'/skills/subcategories'"
                ></button>
            </div>
        </ng-template>
    </p-toolbar>
  
    <ng-template pTemplate="content">
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit($event)">
            <div class="formgrid grid">
                <div class="field col">
                    <label for="clientName" class="text-center font-bold mb-2">Category</label>
                    <p-dropdown
                        name="categoryId"
                        optionValue="categoryId"
                        [options]="categories"
                        [style]="{'min-width': '100%'}"
                        optionLabel="categoryName"
                        formControlName="categoryId"
                    >
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label for="subcategoryName" class="text-center font-bold mb-2">Subcategory Name</label>
                    <input 
                        type="text" 
                        id="subcategoryName" 
                        formControlName="subcategoryName" 
                        class="w-full"
                        name="subcategoryName"
                        pInputText />
                        <small id="subcategoryName-help" class="p-error" *ngIf="(subcategoryName.invalid && (subcategoryName.dirty || subcategoryName.touched)) || !subcategoryName.value">
                            Subcategory name field is required *
                        </small>
                </div>
            </div>
          <div class="mt-4">
            <button type="submit" pButton label="Save" class="p-button-success"></button>
          </div>
        </form>
    </ng-template>
  </p-panel>
  
<p-confirmDialog></p-confirmDialog>
@if (loading) {
    <div class="progress-spinner">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
    </div>
}